@import url("https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Navbar */
.nav-link {
  font-size: 12px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.nav-link:hover {
  color: rgb(123, 75, 255);
  text-decoration: underline rgb(162, 75, 255);
}
.navbar-brand {
  font-size: 17px;
}
.social-media a {
  color: black;
  margin: 12px;
  font-size: 18px;
}
.social-media a:hover {
  color: rgb(162, 75, 255);
}
.Paragraph {
  margin-top: 20px;
  padding: 20px;
}

/* Home */
.p2 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}
.p3 {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.btn {
  background: black;
  color: white;
  font-weight: bold;
  width: 135px;
  height: 45px;
  border-radius: 0%;
}
.btn:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

/* About Page */
.main-content {
  padding-top: 25px;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-main {
  display: flex;
  margin-top: 50px;
}
.about-p {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}
strong {
  color: black;
  font-weight: 600;
}
/* SkillProgressBar.css */
.skill-progress-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.skill-name {
  width: 150px;
  font-weight: bold;
}
.progress-bar {
  flex-grow: 1;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin: 0 10px;
  position: relative;
  height: 15px;
}
.progress-bar-fill {
  background-color: rgb(162, 75, 255);
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s ease;
}
.skill-level {
  min-width: 30px;
  text-align: right;
}

/* Contact Me */
.heading {
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.ip-txt {
  font-size: 17px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  border-radius: 4px;
  width: 25%;
  height: 38px;
  border: 1px solid rgb(244, 234, 255);
  background-color: rgb(251, 247, 255);
}
.ip-txt::placeholder {
  font-size: 13px;
}
.txt-area {
  width: 30%;
  height: 150px;
  resize: none;
  padding: 10px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.p-chat {
  display: flex;
}

/* project */
.head {
  font-size: 22px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.head2 {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.cart {
  display: flex;
}
.gitbtn {
  font-size: 20px;
  margin: 10px 10px;
}
